/**
*  Modification of the Foundation Theme
*/

/*   __   ___       ___  __
    / _` |__  |\ | |__  |__)  /\  |
    \__> |___ | \| |___ |  \ /~~\ |___  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #000;
    font-family: -apple-system, Helvetica, Arial;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.wrapper > h1 {
    line-height: 40pt;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: justify;
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
}

/*        ___       __   ___  __
    |__| |__   /\  |  \ |__  |__)
    |  | |___ /~~\ |__/ |___ |  \   */

header {
    background-color: #88e;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: #336;
    }
}
header .wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header h1, header h2, header h3 {
    margin: 0ex;
    padding: 0ex;
}

header h3 {
    font-size: 20px;
    opacity: 30%;
}

header h1 {
    font-size: 50px;
}

header h2 {
    font-size: 30px;
}

nav {
    margin-top: 20px;
}

nav li {
    display: inline-block;
    margin: 0 7px;
    line-height: 1.5em;
}

nav li a.selected {
    text-decoration: underline;
}

/*           __   __
     |\/| | /__` /  `
     |  | | .__/ \__,   */

.description {
    margin-bottom: 40px;
}

.creator-website {
    float: right;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

footer {
    color: #8a8a8a;
    margin-bottom: 2ex;
}

.about-pic {
    width: 33%;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    float: right;
}

p:has(> .contributing-button) {
    display: flex;
    justify-content: center;
}

.contributing-button {
    background: #292;
    color: #fff;
    font-weight: bold;
    margin: 1ex 0ex;
    padding: 1ex;
    border-radius: 1ex;
    text-decoration: none;
}
.contributing-button:hover {
    transition: all .1s ease-in-out;
    filter: brightness(85%);
}

p:has(> .center-image) {
    display: flex;
    justify-content: center;
}
.center-image {
    width: 33%;
}


/*        __  ___    __        ___                   __       ___
     /\  |__)  |  | /  ` |    |__     |     /\  \ / /  \ |  |  |
    /~~\ |  \  |  | \__, |___ |___    |___ /~~\  |  \__/ \__/  |   */

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 30px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list .article-headline {
    background-color: #ddd;
    margin: -20px -20px 0px -20px;
    padding: 20px 20px 5px 20px;
    border-radius: 30px 30px 0px 0px;
}

.item-page .article-headline {
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #ddd;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
    .item-list > li {
        background-color: #333;
    }

    .item-list .article-headline {
        background-color: #444;
    }

    .item-page .article-headline {
        border-bottom-color: #444;
    }
}


/*        __  ___    __        ___    ___   ___       ___
     /\  |__)  |  | /  ` |    |__      |  |  |  |    |__
    /~~\ |  \  |  | \__, |___ |___     |  |  |  |___ |___  */

article h1 {
    margin-bottom: 0px;
    display: inline-block;
    font-size: 40px;
    margin-bottom: -5px;
}

article h1 a {
    text-decoration: none;
}

.article-headline {
    justify-content: space-between;
    display: flex;
    align-items: end;
}

.theme-link-buttons {
    display: inline-block;
    line-height: 50px;
    height: 50px;
}

.theme-link-buttons > a > img {
    height: 50px;
    display: inline-block;
}

.theme-link-buttons > a:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
}

@media(max-width: 800px) {
    .theme-link-buttons {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    article h1 {
        width: 100%;
        text-align: center;
        display: block;
        margin-bottom: 0px;
    }

    .article-headline {
        display: block;
    }
}

/*   __   __   __   ___
    /  ` /  \ |  \ |__
    \__, \__/ |__/ |___  */


pre:has(> code) {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: #eee;
    margin-bottom: 10px;
}

p > code {
    border-radius: 4px;
    padding: 1px;
    background-color: #eee;
}

@media (prefers-color-scheme: dark) {
    pre:has(> code), p > code {
        background-color: #333;
    }
}


/*   __   __   __   ___  ___       __        __  ___  __
    /__` /  ` |__) |__  |__  |\ | /__` |__| /  \  |  /__`
    .__/ \__, |  \ |___ |___ | \| .__/ |  | \__/  |  .__/   */

.content .first-screenshot {
    margin-right: 5px;
}

.content .second-screenshot {
    margin-left: 5px;
}

.content .screenshot {
    filter: drop-shadow(0px 0px 4px #00000088);
    width: calc(50% - 5px);
    border-radius: 8px;
}

@media(max-width: 800px) {
    .content .screenshot {
        width: 100%;
        margin: 0pt;
    }

    .content .second-screenshot {
        margin-top: 5pt;
    }
}

/*   __   ___  __   __        __        __          __        __
    /__` |__  /  ` /  \ |\ | |  \  /\  |__) \ /    |__)  /\  |__)
    .__/ |___ \__, \__/ | \| |__/ /~~\ |  \  |     |__) /~~\ |  \  */

.secondary-bar {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.secondary-bar > * {
    display: inline-block;
}

.info-links > a {
    text-decoration: none;
    margin-left: 1em;
}

@media(max-width: 800px) {
    .secondary-bar {
        display: block;
    }
    .secondary-bar > * {
        display: block;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
}

.illustration-icon > img{
    height: 1.5ex;
    margin-right: 0.2em;
}

/*  ___       __   __
     |   /\  / _` /__`
     |  /~~\ \__> .__/    */

.tag-list li {
    display: inline-block;
    margin: 10px 0px;
}
.tag {
    background-color: #000;
    color: #fff;
    margin-right: 0.5em;
    padding: 0.5ex 0em 0.5ex 0.5em;
    border-radius: 1ex;
    box-shadow: 0px 0px 0.5ex #0004;
    text-decoration: none;
    font-weight: normal;
    white-space: nowrap;
}
.tag:hover {
    transition: all .1s ease-in-out;
    filter: brightness(85%);
}
.tag-icon {
    height: 1.9ex;
    margin-bottom: -0.2ex;
    margin-right: 0.25em;
}
.tag-count {
    background-color: #0004;
    padding: 0.5ex;
    margin-left: 0.25em;
    border-radius: 0ex 1ex 1ex 0ex;
}

.tag-user-theme {
    background: cornflowerblue;
}
.tag-default-theme {
    background: gold;
    color: black;
}
.tag-dark-only {
    background: midnightblue;
}
.tag-light-only {
    background: moccasin;
    color: black;
}
.tag-light-and-dark {
    background: linear-gradient(120deg, goldenrod 0%, midnightblue 100%);
}
.tag-creator {
    background: darkorchid;
}
